* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
}

/*body {*/
/*    font-family: 'Inter', sans-serif;*/
/*}*/

.hero-section {
    margin-top: 5rem;
}

.hero-image {
    background-image: linear-gradient(#070211, #07021100), url("./public/banner-Image.png");
    height: 600px;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-text {
    font-family: "Merriweather", serif;
    color: #FFF;
    text-align: center;
    font-style: normal;
}

.hero-text h1 {
    font-size: 32px;
    font-weight: 400;
}

.hero-text p {
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}


/*Discount*/

.discount-section {
    font-family: 'Inter', sans-serif;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.discount-section h1 {
    color: #F00;
    text-align: center;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 2rem;
}

.discount-section p:first-of-type {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 1rem;
}

.discount-section p:nth-of-type(2) {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 3rem;
}


/*Call to action*/
.call-to-action {
    margin-top: 5rem;
}

.cta-bg {
    background-image: linear-gradient(to right, #070211, #07021100), url("./public/Vectorrr.png");
    height: 600px;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 16px;
}

.cta-text {
    font-family: "Merriweather", serif;
    color: blue;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    padding: 5rem;

}


.cta-text h1 {
    width: 642px;
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px; /* 137.5% */
    letter-spacing: 7px;
}

.cta-text p {
    font-family: "Inter", serif;
    width: 697px;
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.cta-text h2 {
    color: #FFF;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.cta-extra-img {
    position: absolute;
    top: 50%;
    right: 20%;
    transform: translate(50%, -50%);
}


/*Event*/

.event-section {
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 482px;
    border-radius: 16px;
}

.event-section_text {
    font-family: "Inter", serif;
    line-height: 56px;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1.5rem;

}

.event-section_text .key {
    color: #F00;
}

.event-section_text .value {
    color: #070211;
}

.event-section_button {
    color: #FFF;
    font-family: "Inter", serif;
    font-size: 20px;
    font-weight: 700;
    padding: 16px 32px;
    border-radius: 8px;
    background: #F00;
    border: none;
    margin-top: 3rem;
}


.section-best-offer {
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.section-best-offer h2 {
    color: #F00;
    font-family: "Inter", serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.section-best-offer h1 {
    color: #070211;
    font-family: "Merriweather", serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 1rem;
}

.section-best-offer p {
    width: 393px;
    color: rgba(7, 2, 17, 0.60);
    font-family: "Inter", serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
}

.section-best-offer .circle-img {
    border-radius: 463px;
    border: 15px solid #F00;
    padding: 1.5rem;
}


.new-year-icon {
    margin-top: 2rem;
}


.holiday-section {
    margin-top: 5rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.holiday-section p {
    font-family: "Inter", serif;
    width: 1068px;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 160% */
}

.text-red {
    color: #F00;
    text-align: center;
    font-family: "Merriweather", serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    transform: rotateX(45deg);
}


.text-black {
    color: #070211;
    font-family: "Merriweather", serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.holiday-section h2 {
    color: #070211;
    font-family: "Inter", serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.img-container {
    position: relative;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 4rem;
}

.img-container :nth-of-type(3) {
    position: absolute;
    bottom: 0;
    left: 8rem;
    width: 500px;
}


.image-grid-section {
    font-family: "Inter", serif;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.image-grid-section p {
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
}

.image-grid-section h2 {
    color: #F00;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

.image-grid-section h1 {
    color: #070211;
    font-family: "Merriweather", serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.image-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.newsletter-section {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    height: 616px;
    justify-content: center;
    align-items: center;

}

.newsletter-section h1 {
    color: #070211;
    text-align: center;
    font-family: "Merriweather", serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.newsletter-section p {
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: "Inter", serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
}

.input-button {
    margin-top: 3rem;
    display: flex;
    width: 648px;
    justify-content: space-between;
    align-items: center;
}

.input-button :nth-of-type(1) {
    border-radius: 50px 0 0 50px;
    background: #FFF;
    height: 72px;
    display: flex;
    align-items: center;
    width: 70%;
    padding-left: 4rem;
    color: rgba(7, 2, 17, 0.30);
    text-align: center;
    font-family: "Inter", serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}
.input-button :nth-of-type(2) {
    border-radius: 0 50px 50px 0;
    background: #F00;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    font-family: "Inter", serif;

}

